@charset "utf-8" ;

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
}

#canvas {
  background: #fcf3f5;
}

#btn {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  border:  #f089fd;
  background: #ff80b1;
  color:#fff;
}

#eraser{
  position: absolute;
  top: 10px;
  left: 100px;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  border:  #f089fd;
  background: #ff80b1;
  color:#fff;
}
